{erl_opts, [
    debug_info,
    warnings_as_errors
]}.

{deps, []}.

{dialyzer, [
    {warnings, [
        error_handling,
        race_conditions,
        unmatched_returns,
        unknown,
        no_improper_lists
    ]}
]}.

{xref_checks, [
    fail_on_warning,
    undefined_function_calls
]}.
